@tailwind base;
@tailwind components;
@tailwind utilities;

.focused {
  @apply bg-[#222530] text-[#d3d7cf] font-semibold text-sm w-full flex items-center gap-4 text-center pl-5 py-3;
}

.links {
  @apply w-full flex items-center gap-4 text-sm text-center text-[#d3d7cf] py-3 hover:bg-[#222530] hover:text-[#d3d7cf] pl-5;
}

.switch-label {
  @apply relative inline-block w-[45px] h-[29px];
}

.switch-label input {
  @apply opacity-0 w-0 h-0;
}

.switch-slider {
  @apply absolute cursor-pointer top-0 right-0 left-0 bottom-0 bg-gray-100 border-2 border-black rounded-full;
  transition: 0.4s;
}

.switch-slider::before {
  content: "";
  @apply absolute h-[14px] w-[14px] left-1 bottom-1.5 bg-[#626ED4] rounded-full;
  transition: 0.4s;
}

input:checked+.switch-slider {
  @apply bg-white border-2 border-black;
}

input:checked+.switch-slider::before {
  transform: translateX(18px);
}

/* react paginate styling */
.paginationContainer {
  @apply w-fit text-xs lg:text-sm font-medium text-[#A7A7F3] flex items-center justify-center border-2;
}

.paginationActive {
  /* background: #606fd0;
  color: #e2d2fc;
  font-weight: 500;
  padding: 2px 8px;
  height: 100%; */
  @apply bg-[#606fd0] text-white;
}

.eachElem {
  /* padding: 2px 10px; */
  @apply border-s-2 py-1 px-2 lg:px-3;
}

.prevBtnClass {
  @apply text-[#959da4] px-2;
}

.nexBtnClass {
  @apply text-[#A7A7F3] px-2;
}